<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Ace Amazing Race</title>
    @Styles.Render("~/Content/cssjqryUi")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/leaflet")
    @Scripts.Render("~/bundles/initialization")
    
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
    <script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
    <script src="~/signalr/hubs"></script>
</head>

<body>
    <div class="wrap-body">
        
        <div id='cssmenu' class="align-center">
            <ul>
                <li @ViewBag.Home>@Html.ActionLink("Home", "Index", "Home")</li>
                <li @ViewBag.RaceEvent>@Html.ActionLink("Manage", "Index", "RaceEvents")</li>
                <li @ViewBag.LiveEvent>@Html.ActionLink("Live", "Index", "LiveEvents")</li>
            </ul>
        </div>
        <header class="">
            <div class="logo">
                <hr class="line-1">
                <a href="#">ACE AMAZING RACE</a>
                <h3><em>one Team one Mission</em></h3>
                <hr class="line-1">
            </div>
        </header>
        <!--////////////////////////////////////Container-->
        <section id="container">
            <div class="wrap-container">
                @RenderBody()
            </div>
        </section>
        <!--////////////////////////////////////Footer-->
        
        <footer>
            <div class="zerogrid wrap-footer">
                <div class="row">
                    <div class="bottom-social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-google-plus"></i></a>
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                        <a href="#"><i class="fa fa-vimeo"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-youtube"></i></a>
                    </div>
                </div>
                <div class="copyright">
                    &copy; @DateTime.Now.Year - <a href="#" target="_blank" rel="nofollow">Ace Amazing Race</a>
               </div>
            </div>
        </footer>
      </div>
</body>
</html>
