@using AceAmazingRace.Models
@using AceAmazingRace.ViewModels
@model AceAmazingRace.ViewModels.LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<div class="form-group jumbotron col-md-4 col-md-offset-4" style="padding: 10px 50px;">
    <h2>@ViewBag.Title.</h2>
    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
            {
        @Html.AntiForgeryToken()
        <h4>Staff Manage Portal log in.</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", style = "max-width: 400px;"  })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-4">
                        <input type="submit" value="Log in" class="btn btn-default" />
                    </div>
                </div>
                @* Enable this once you have account confirmation enabled for password reset functionality
                    <p>
                        @Html.ActionLink("Register as a new user", "Register")
                    </p>
                    <p>
                        @Html.ActionLink("Forgot your password?", "ForgotPassword")
                    </p>
                *@
    }
</div>    
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
 }
