@model AceAmazingRace.ViewModels.EventFormViewModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>New Event</h3>

@using (@Html.BeginForm("CreateNew", "RaceEvents")) {

    <div class="form-group">
        @Html.LabelFor(e => e.RaceEvent.Name)
        @Html.TextBoxFor(e => e.RaceEvent.Name, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(e => e.RaceEvent.Description)
        @Html.TextBoxFor(e => e.RaceEvent.Description, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(e => e.RaceEvent.Date)
        @Html.TextBoxFor(e => e.RaceEvent.Date, "{0:dd MM yyyy}", new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(e => e.RaceEvent.Time)
        @Html.TextBoxFor(e => e.RaceEvent.Time, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(e => e.LocationId)
        @Html.DropDownListFor(e => e.LocationId, 
            new SelectList(@Model.Locations, "Id", "Name"), 
            "Please select Location", 
            new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
    <a class="btn btn-primary" href="@Url.Action("Index","RaceEvents")">Cancel</a>
}

