@using AceAmazingRace.Models
@model AceAmazingRace.ViewModels.RaceEventViewModel
@{
    string header = "";
    string submitButtonText = "";

    if (@Model.Action == "Create")
    {
        header = "Create New Event";
        submitButtonText = "Create";
    }
    else if (@Model.Action == "Edit")
    {
        header = "Update Event";
        submitButtonText = "Save";
    }

    ViewBag.Title = @header;
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h3>@header</h3>

@using (@Html.BeginForm("Save", "RaceEvents")) {

    <div class="form-group">
        @Html.LabelFor(e => e.RaceEvent.Name)
        @Html.TextBoxFor(e => e.RaceEvent.Name, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(e => e.RaceEvent.Description)
        @Html.TextBoxFor(e => e.RaceEvent.Description, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(e => e.RaceEvent.Date)
        @Html.TextBoxFor(e => e.RaceEvent.Date, "{0:dd-MMM-yyyy}", new { @class = "form-control datepicker"})
    </div>

    <div class="form-group">
        @Html.LabelFor(e => e.RaceEvent.Time)
        @Html.TextBoxFor(e => e.RaceEvent.Time, new { @class = "form-control timepicker" })
    </div>

    <div class="form-group">
        @Html.LabelFor(e => e.RaceEvent.Location)
        @Html.TextBoxFor(e => e.RaceEvent.Location, new { @class = "form-control" })
    </div>

    @Html.HiddenFor(e => e.RaceEvent.Id)

    <button type="submit" class="btn btn-primary">@submitButtonText</button>
    <a class="btn btn-primary" href="@Url.Action("Index","RaceEvents")">Cancel</a>
}

